# OS Files
.DS_Store

# Python
__pycache__/
*.egg-info/
tests/__init__.py
.pytest_cache
.ruff_cache

# Local Working Stuff
/scripts
.anvil-path.sh
.env
.claude
.pdm-build
.venv
.xcode-cache

# Datasets
repos
datasets
tasks/firefox-ios
tasks/iOS-Open-GPX-Tracker
tasks/mastodon-ios
tasks/GitHawk
src/anvil/commands/github_prs/mastodon-ios.txt
src/anvil/commands/github_prs/GitHawk.txt